<!DOCTYPE html>
<html class="all">
    <head>
        <title>Batalha Naval</title>
    </head>
    <body class="jogo">
        <table>
            <tr>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
            </tr>
            <tr>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
            </tr>
            <tr>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
            </tr>
            <tr>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
            </tr>
            <tr>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
                <td><button>agua</button></td>
            </tr>
        </table>
        <button class="botao" onclick="location.href = '/';">Sair</button>
    </body>
</html>